* {
    box-sizing: border-box;
}



  h1 {
      background: rgb(40, 53, 94);
      height: 100px;
      color: mintcream;
      padding-top: 25px;
      text-transform: uppercase;
  }

  h1,
  .main-intro,
  footer {
    text-align: center;
  }

  .main-intro p {
      color: rgb(176, 179, 177);
  }

  footer {
      margin-top: 3em;
      color: rgb(189, 180, 180);
      margin-bottom: 3em;
  }

  .container-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
  }

  input[type="text"],
  input[type="email"],
  select,
  textarea {
    height: 60px;
    background-color: rgb(212, 206, 206);
    border: none;
    border-radius: 8px;
  }

  textarea {
    height: 200px;
    width: 100%;
    align-self: center;
    margin-bottom: 50px;
  }

  .button {
    height: 80px;
    width: 90%;
    border-radius: 8px;
    align-self: center;
    border: none;
    color: whitesmoke;
    background: cadetblue;
  }
  
 @media (min-width: 768px) {
  
 .container-1 {
   width: 70%;
   align-self: center;
   margin: auto;
 }
  
 }
